{% extends 'base.html' %}


{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}

<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
			<form class="login100-form validate-form" action="" method="post">
  					<span class="login100-form-title p-b-26">
						Change Password
					</span><br><br>

        {% csrf_token %}
        <p><label for="id_old_password">Old password:</label> <input type="password" name="old_password" required id="id_old_password" autofocus /></p>
        <br>
		<p><label for="id_new_password1">New password:</label> <input type="password" name="new_password1" required id="id_new_password1" /> <span class="helptext"></span></p>
		<br>
		<p><label for="id_new_password2">New password confirmation:</label> <input type="password" name="new_password2" required id="id_new_password2" /></p>

		<br>
        <div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button type="submit" class="login100-form-btn">Save</button>
							</div>
						</div> 
    </form>
    <br>
</div>

{% endblock %}
