{% extends 'base.html' %}

{% block content %}




<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
			<form class="login100-form validate-form" action="" method="post">
  					<span class="login100-form-title p-b-26">
						Edit Profile
					</span><br><br>

      					{% csrf_token %}
       					 <p><label for="id_email">Email address:</label> <input type="email" name="email" value="harshngu210@gmail.com" id="id_email" maxlength="254" /></p>
       					 	<br>
							<p><label for="id_first_name">First name:</label> <input type="text" name="first_name" value="Harsh" id="id_first_name" maxlength="30" /></p>
							<br>
							<p><label for="id_last_name">Last name:</label> <input type="text" name="last_name" value="Gupta" id="id_last_name" maxlength="150" /></p>
							<br>
							<p><label for="id_password">Password:</label> <div id="id_password">

						 <strong>No password set.</strong>

						</div> <span class="helptext">Raw passwords are not stored, so there is no way to see this user's password, but you can change the password using <a href="../password/">this form</a>.</span></p>

							<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button type="submit" class="login100-form-btn">Save</button>
							</div>
						</div> 


       				
   				 </form>
   				 <br>
			</div>
			</div>
			</div>


{% endblock %}
