{% extends 'base.html' %}

{% block content %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'accounts/imageoverlay.css' %}" type="text/css">
	<link href="{% static 'accounts/carousel.css' %}" rel="stylesheet">

	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img class="first-slide" src="{% static 'accounts/img/Akshardham.jpg' %}" alt="First slide">
				<div class="container">
					<div class="carousel-caption">
						<h1 style="font-size: 100px;">Akshardham</h1>
						<p style="font-size: 60px; color:#fff">A Maginificent temple</p>
						<p style="font-size: 60px;"><a style="font-size: 40px;" class="btn btn-lg btn-primary" href="/login" role="button">Book location</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<img class="second-slide" src="{% static 'accounts/img/IndiaGate.jpg' %}" alt="Second slide">
				<div class="container">
					<div class="carousel-caption">
						<h1 style="font-size: 100px;">India Gate</h1>
						<p style="font-size: 60px; color:#fff">India Gate Monument</p>
						<p style="font-size: 60px;"><a style="font-size: 40px;" class="btn btn-lg btn-primary" href="/login" role="button">Book location</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<img class="third-slide" src="{% static 'accounts/img/LotusTemple.jpg' %}" alt="Third slide">
				<div class="container">
					<div class="carousel-caption">
						<h1 style="font-size: 100px;">Lotus Temple</h1>
						<p style="font-size: 60px; color:#fff">A Maginificent temple</p>
						<p style="font-size: 60px;"><a style="font-size: 40px;" class="btn btn-lg btn-primary" href="/login" role="button">Book location</a></p>
					</div>
				</div>
			</div>
			 <div class="item">
				<img class="fourth-slide" src="{% static 'accounts/img/LodiGarden.jpg' %}" alt="Second slide">
				<div class="container">
					<div class="carousel-caption">
						<!-- <h1>Another example headline.</h1> -->
						<!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
						<!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
					</div>
				</div>
			</div>
			<div class="item">
				<img class="fifth-slide" src="{% static 'accounts/img/HumayunsTomb.jpg' %}" alt="Second slide">
				<div class="container">
					<div class="carousel-caption">
						<!-- <h1>Another example headline.</h1> -->
						<!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
						<!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
					</div>
				</div>
			</div>
			</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div><!-- /.carousel -->


<div class="container marketing">
	<hr class="featurette-divider" data-aos="fade-up">
	<h1 style="text-align:center;">How It Works</h1>


	<div class="row featurette" >

		<div class="col-md-7">
			<h5 class="featurette-heading">Step 1<br><span class="text-muted" style="font-size: 50px; color:#0762a3">Login/Registration</span></h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5" >
			<img class="featurette-image img-responsive center-block" src="{% static 'accounts/img/rl.png' %}" alt="Generic placeholder image">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette" data-aos="fade-up">
		<div class="col-md-7 col-md-push-5" >
			<h2 class="featurette-heading">Step 2<br><span class="text-muted" style="font-size: 50px; color:#0762a3">Fill Application Form</span></h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5 col-md-pull-7" data-aos="fade-up">
			<img style="border-radius:50%;" class="featurette-image img-responsive center-block" src="{% static 'accounts/img/fa.jpg' %}" alt="Generic placeholder image" height=380 width=380>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette" data-aos="fade-up">
		<div class="col-md-7" >
			<h2 class="featurette-heading">Step 3<br><span class="text-muted" style="font-size: 50px; color:#0762a3">Make Payment</span></h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5" >
			<img class="featurette-image img-responsive center-block" src="{% static 'accounts/img/mp.png' %}" alt="Generic placeholder image">
		</div>
	</div>

	<hr class="featurette-divider" style="margin: 30px 0;">
	<h1 style="text-align:center; margin-bottom: 20px; color:#0762a3;">Movies</h1>

	<div class="row">
		<div class="col-lg-4" data-aos="fade-up">
			<img class="img-circle" src="{% static 'accounts/img/m1.jpg' %}" alt="Generic placeholder image" width="140" height="140">
			<h2>Shoot At Delhi<br>(Red Fort)</h2>

			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4" data-aos="fade-up">
			<img class="img-circle" src="{% static 'accounts/img/m2.jpg' %}" alt="Generic placeholder image" width="140" height="140">
			<h2>Shoot At Delhi<br>(Hauz Khas Fort)</h2>

			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4" data-aos="fade-up">
			<img class="img-circle" src="{% static 'accounts/img/m3.jpg' %}" alt="Generic placeholder image" width="140" height="140">
			<h2>Shoot At Delhi<br>(Jama Masjid)</h2>

			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4" data-aos="fade-up">
			<img class="img-circle" src="{% static 'accounts/img/m4.jpg' %}" alt="Generic placeholder image" width="140" height="140">
			<h2>Shoot At Delhi<br>(Nehru Market)</h2>

			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-lg-4" data-aos="fade-up">
			<img class="img-circle" src="{% static 'accounts/img/m5.jpeg' %}" alt="Generic placeholder image" width="140" height="140">
			<h2>Shoot At Delhi<br>(Jama Masjid)</h2>

			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-lg-4" data-aos="fade-up">
			<img class="img-circle" src="{% static 'accounts/img/cdi.jpg' %}" alt="Generic placeholder image" width="140" height="140">
			<h2>Shoot At Delhi<br>(Connaught Place)</h2>

			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>


<!--locations1-->
<hr width=1px>
<hr class="featurette-divider" style="margin: 80px 0;">
<h1 style="text-align:center; margin-bottom: 20px; color:#0762a3;">Locations</h1>
<div class="row" data-aos="fade-up">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="{% static 'accounts/img/17.jpg' %}" alt="" height=400 width=400 >
        <div class="overlay">
           <h2>JNU</h2>
        </div>
    </div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	    <div class="hovereffect">
	        <img class="img-responsive" src="{% static 'accounts/img/21.jpg' %}" alt="" >
	        <div class="overlay">
	           <h2>Garden of Five Senses</h2>
	        </div>
	    </div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	    <div class="hovereffect">
	        <img class="img-responsive" src="{% static 'accounts/img/10.jpg' %}" alt="" >
	        <div class="overlay">
	           <h2>Quitab Minar</h2>
	        </div>
	    </div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	    <div class="hovereffect">
	        <img class="img-responsive" src="{% static 'accounts/img/12.jpg' %}" alt="">
	        <div class="overlay">
	           <h2>Jama Masjid</h2>
	        </div>
	    </div>
	</div>
</div>
<!-- /.col-lg-4 -->
<hr width=2px color=blue>
<hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
</div><!-- /.container -->
{% endblock %}

{% block javascript %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

<script src="{% static 'accounts/dist/js/bootstrap.min.js' %}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="{% static 'accounts/assets/js/vendor/holder.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'accounts/assets/js/ie10-viewport-bug-workaround.js' %}"></script>
<script>
AOS.init();
</script>
{% endblock %}
