{% extends 'base.html' %}
{% block content %}

{% if form.errors %}
	<p>Invalid username or password</p>
{% endif %}

<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
			<form class="login100-form validate-form" action="" method="post">
  					<span class="login100-form-title p-b-26">
						Welcome
					</span><br><br>
  							{% csrf_token %}

    							<div class="wrap-input100 validate-input" >
								<input class="input100" required id="id_username" maxlength="100" type="text" name="username" >
								<span class="focus-input100"  data-placeholder="Username"></span>
						 	</div>

						 	<div class="wrap-input100 validate-input" >
							<input class="input100" id="password" type="password" name="password" required id="id_password" >
								<span class="focus-input100" data-placeholder="Password"></span>
						 	</div>


    						

    					  <div class=" container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button type="submit" class="login100-form-btn">Login</button>
							</div>
						</div>  

					<div class="text-center p-t-115">
 					 <p><strong>-- OR --</strong></p>
 					 </div>
					<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br> <br>

					<div class="text-center p-t-115">
						<span class="txt1">
							Don’t have an account?
						</span> <br><br>

						<a class="txt2" href="#">Register</a>
					
				</form>
		</div>
</div>
</div>



<!--



    						<p><label for="id_username">username:</label> <input type="text" name="username" required id="id_username" maxlength="100" /></p>

							<p><label for="id_password">Password:</label> <input type="password" name="password" required id="id_password" /></p>
{{ form.as_p }}
{{ form.username }}
    	<br>
    	<br>
    	{{ form.password }}
    	<br>
    	<br>
	
	<form action="{{ action }}" method="POST">
  {% csrf_token %}
  {% if form.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% for field in form %}
  <div id="{{ field.auto_id }}_container">
    {{ field.help_text }}
    <div>
      {{ field.label_tag }} {{ field }}
    </div>
    <div id="{{ field.auto_id }}_errors">
      {{ field.errors }}
    </div>
  </div>
  {% endfor %}
<button type="submit" class="btn btn-primary">Submit</button>


  <input id="save_contact" type="submit" value="Save" />
</form>

<div class="wrap-input100 validate-input" >
								<input class="input100" id="username" type="text" name="username" >
								<span class="focus-input100"  data-placeholder="Username"></span>
						 	</div>

						 	<div class="wrap-input100 validate-input" >
							<input class="input100" id="password" type="password" name="username" >
								<span class="focus-input100" data-placeholder="Password"></span>
						 	</div>


-->



{% endblock %}




