{% extends 'base.html' %}

{% block nav %}



<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
    <span class="caret"></span>Profile</button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'accounts:view_profile' %}">View Profile</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'accounts:edit_profile' %}">Edit </a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'accounts:change_password' %}">Change Password</a></li>
      <li role="presentation" class="divider"></li>
      
    </ul>
  </div>
{% endblock %}

{% block content %}

        <div class="container-login100">
            <div class="wrap-login100">
            
                    <span class="login100-form-title p-b-26">
                        User Profile
                    </span><br><br>
        <li><a href="#"><span ></span> Welcome{{ request.user.first_name }}</a>
    <p>Username: {{ user }}
    <p>First name: {{ request.user.first_name }}</p>
    <p>Last name: {{ request.user.last_name }}</p>
    <p>Email: {{ request.user.email }}</p>

</div>
            </div>
          :

{% endblock %}

