{% extends 'base.html' %}

{% block nav %}

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'accounts:view_profile' %}">View Profile</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'accounts:edit_profile' %}">Edit </a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'accounts:change_password' %}">Change Password</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
    </ul>
  </div>
{% endblock %}


