{% extends 'base.html' %}
{% block content %}

<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
					<form class="login100-form"  method="post">

					<span class="login100-form-title p-b-26">
						Register
					</span>
					<br>
					
					{% csrf_token %}
					

						<div class="wrap-input100 validate-input" >
								<input class="input100" id="id_username" required maxlength="150" type="text" name="username" value="">
								<span class="focus-input100" data-placeholder="Username"></span>
						 </div>
						 <div class="wrap-input100 validate-input" >
								<input class="input100" id="id_first_name" maxlength="30" type="text" name="first_name"value="">
								<span class="focus-input100" data-placeholder="first name"></span>
						 </div>
						 <div class="wrap-input100 validate-input" >
								<input class="input100" id="id_last_name" maxlength="150" type="text" name="last_name" value="">
								<span class="focus-input100" data-placeholder="last name"></span>
						 </div>

						 <div class="wrap-input100 validate-input" >
								<input class="input100" required id="id_email" type="text" name="email" value="">
								<span class="focus-input100" data-placeholder="email"></span>
						 </div>
						 <div class="wrap-input100 validate-input" >
								<input class="input100" required id="id_password1" type="password" name="password1"  value="">
								<span class="focus-input100" data-placeholder="Password"></span>
						 </div>
						 <div class="wrap-input100 validate-input" >
								<input class="input100"  required id="id_password2" type="password" name="password2"value="">
								<span class="focus-input100" data-placeholder="Confirm Password"></span>
						 </div>

						 <div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button type="submit" class="login100-form-btn">Submit</button>
							</div>
						</div>
				</form>

			</div>
		</div>
</div>



<!--
<div class="container" style="width: 70%; height: 70%;">
<div class="jumbotron">


  <h1 class="display-4">Register</h1>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}

						<p><label for="id_username">Username:</label> <input type="text" name="username" id="id_username" required maxlength="150" autofocus /> <span class="helptext"></span></p>

						<p><label for="id_first_name">First name:</label> <input type="text" name="first_name" id="id_first_name" maxlength="30" /></p>

						<p><label for="id_last_name">Last name:</label> <input type="text" name="last_name" id="id_last_name" maxlength="150" /></p>
						<p><label for="id_email">
							
						</label for="id_email">Email:</label><input type="email" name="email" required id="id_email" /></p>

						<p><label for="id_password1">Password:</label> <input type="password" name="password1" required id="id_password1" /> <span class="helptext"></span></p>

						<p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2" required id="id_password2" /> <span class="helptext"></span></p>




    					<input class="input100" id="password" type="password" placeholder="Password" name="password" value="">
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
</div>
<form class="login100-form"  method="post">

					<span class="login100-form-title p-b-26">
						Register
					</span>
					<br>
					{% csrf_token %}
					
						<div class="wrap-input100 validate-input" >
								<input class="input100" id="username" type="text" name="username" value="">
								<span class="focus-input100" data-placeholder="Username"></span>
						 </div>
						 <div class="wrap-input100 validate-input" >
								<input class="input100" id="first_name" type="text" name="first_name"value="">
								<span class="focus-input100" data-placeholder="first name"></span>
						 </div>
						 <div class="wrap-input100 validate-input" >
								<input class="input100" id="last_name" type="text" name="last_name" value="">
								<span class="focus-input100" data-placeholder="last name"></span>
						 </div>
						 <div class="wrap-input100 validate-input" >
								<input class="input100" id="email" type="text" name="email" value="">
								<span class="focus-input100" data-placeholder="email"></span>
						 </div>
						 <div class="wrap-input100 validate-input" >
								<input class="input100" id="password" type="password" name="password" value="">
								<span class="focus-input100" data-placeholder="Password"></span>
						 </div>
						 <div class="wrap-input100 validate-input" >
								<input class="input100" id="password_cnf" type="password" name="password_cnf" value="">
								<span class="focus-input100" data-placeholder="Confirm Password"></span>
						 </div>
						 <div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button type="submit" class="login100-form-btn">Submit</button>
							</div>
						</div>
				</form>


-->
{% endblock %}