{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'application_form/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'application_form/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'application_form/vendor/animate/animate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'application_form/vendor/css-hamburgers/hamburgers.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'application_form/vendor/animsition/css/animsition.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'application_form/vendor/select2/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'application_form/vendor/daterangepicker/daterangepicker.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'application_form/css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'application_form/css/main.css' %}">
{% endblock %}

{% block content %}
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form method="POST" action="/booking/submit_application_form/" class="contact100-form validate-form" enctype="multipart/form-data">
				<span class="contact100-form-title">
					Application Form
				</span>

				<label class="label-input100" for="message">Production House Name</label>
				<div class="wrap-input100 validate-input">
					<input id="message" class="input100" type="text" name="production_house" placeholder="XYZ Productions">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="message">Production House Address</label>
				<div class="wrap-input100 validate-input">
					<textarea id="message" class="input100" name="production_house_address" placeholder="Sector 8-A Chandigarh"></textarea>
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="phone">Contact Number</label>
				<div class="wrap-input100">
					<input id="phone" class="input100" type="text" name="contact" placeholder="+91 800 000000">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="first-name">Local Line Producer's Name</label>
				<div class="wrap-input100 validate-input">
					<input id="message" class="input100" type="text" name="local_line_producer" placeholder="John">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="message">Local Line Producer's Address</label>
				<div class="wrap-input100 validate-input">
					<textarea id="message" class="input100" name="local_line_producer_address" placeholder="Address"></textarea>
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="message">Film Name</label>
				<div class="wrap-input100 validate-input">
					<input id="message" class="input100" type="text" name="film" placeholder="ABC">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="message">Director's Name</label>
				<div class="wrap-input100 validate-input">
					<input id="message" class="input100" type="text" name="director" placeholder="XYZ">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="message">Cinematographer's Name</label>
				<div class="wrap-input100 validate-input">
					<input id="message" class="input100" type="text" name="cinematographer" placeholder="XYZ">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="email">Art Director's Name</label>
				<div class="wrap-input100 validate-input">
					<input id="message" class="input100" type="text" name="art_director" placeholder="XYZ">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="email">Script</label>
				<div class="wrap-input100 validate-input">
					<input id="script" class="input100" type="file" name="script" placeholder="Script.pdf" accept="pdf">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="email">Undertaking</label>
				<div class="wrap-input100 validate-input">
					<input id="undertaking" class="input100" type="file" name="undertaking" placeholder="Undertaking.pdf" accept="pdf">
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="zmdi zmdi-arrow-right m-l-8"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'application_form/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'application_form/vendor/animsition/js/animsition.min.js' %}"></script>
	<script src="{% static 'application_form/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'application_form/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'application_form/vendor/select2/select2.min.js' %}"></script>
	<script src="{% static 'application_form/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'application_form/vendor/daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'application_form/vendor/countdowntime/countdowntime.js' %}"></script>
	<script src="{% static 'application_form/js/main.js' %}"></script>
{% endblock %}
