{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>SIH</title>

    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <link href="{% static 'accounts/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'accounts/assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <script src="{% static 'accounts/assets/js/ie-emulation-modes-warning.js' %}"></script>
    <link href="{% static 'accounts/carousel.css' %}" rel="stylesheet">

  {% block stylesheet %}
  {% endblock %}

{% load static %}
  <link rel="stylesheet" href="{% static 'accounts/lg.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'accounts/layout/styles/layout.css' %}" type="text/css">
  <title>Project Manager</title>
  </head>
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img alt="Delhi Tourism" src="{% static 'accounts/assets/img/delhitourism.png' %}">
                Delhi Tourism
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                {% if user.is_authenticated %}
                  <ul class="nav navbar-nav">
                          <!-- <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li> -->
                          <li> <a class="nav-item nav-link" href="{% url 'booking_places:home' %}">Application</a></li>
                          <li> <a class="nav-item nav-link" href="{% url 'booking_places:dashboard' %}">Dashboard</a></li>
                          <li> <a class="nav-item nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"href="{% url 'accounts:view_profile' %}">Hello! {{ request.user.first_name }}
                            <div class="dropdown">
  <ul class="dropdown-menu">
    <li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
    <li> <a class="nav-item nav-link" href="{% url 'accounts:logout_view' %}">Logout</a></li>
  </ul>
</div>
</a>
</li>

                  </div>
                {% else %}
                  <li>  <a class="nav-item nav-link" href="{% url 'accounts:login_view' %}">Login</a></li>
                  <li>  <a class="nav-item nav-link" href="{% url 'accounts:register' %}">Register</a></li>
              {% endif %}

              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
</div>

  {% block content %}
  {% endblock %}


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  {% block javascript %}
  {% endblock %}
  </body>
  <footer height="100px">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2018 Spartan &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</html>
