{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped" style="margin-top:100px; text-align:center;font-family: 'Montserrat', sans-serif">
        <thead><th colspan="2">Application Details</th></thead>
          <tr><td>Producer's Name</td><td>{{ application.producer.username }}</td></tr>
          <tr><td>Production House Name</td><td>{{ application.production_house }}</td></tr>
          <tr><td>Production House Address</td><td>{{ application.production_house_address }}</td></tr>
          <tr><td>Contact Details</td><td>{{ application.contact }}</td></tr>
          <tr><td>Local Line Producer's Name</td><td> {{ application.local_line_producer }}</td></tr>
          <tr><td>Local Line Producer's Address</td><td>{{ application.local_line_producer_address }}</td></tr>
          <tr><td>Director </td><td> {{ application.director }}</td></tr>
          <tr><td>cinematographer </td><td> {{ application.cinematographer }}</td></tr>
          <tr><td>art_director </td><td> {{ application.art_director }}</td></tr>
          <tr><td colspan="2">
            <div class="container-contact100-form-btn">
              <button class="btn btn-primary" onclick="Window.print()">
                <span> Print Application <i class="zmdi zmdi-arrow-right m-l-8"></i></span>
              </button>
            </div>
          </td></tr>
      </table>
    </div>
  </div>
</div>

{% endblock %}
