{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'application_form/css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'application_form/css/main.css' %}">
    <div class="container main-content">
      <div class="row">
        <div class="col-xs-12">
          <span class="contact100-form-title">
            Application Status Tracker
          </span>
          {% if data|length > 0 %}
          <table class="table table-striped" style="margin-top:100px; text-align:center;">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Current status</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
         <tr>
        <td>{{item.index}}</td>
        <td>{{item.application.film}}</td>
        <td>{{item.current_status_info}}</td>
        <td>  <a href="/booking/check_application/{{item.application.pk}}" class="btn btn-primary">View Application</a>
</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <h2>No applications yet</h2>
    {% endif %}


        </div>
      </div>
    </div>

    <hr class="featurette-divider">


    <style type="text/css">
      .main-content{
        min-height: 100vh;
        margin-top: 100px !important;
      }
    </style>

{% endblock %}
