{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'location_form/vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'location_form/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'location_form/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'location_form/vendor/animate/animate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'location_form/vendor/css-hamburgers/hamburgers.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'location_form/vendor/animsition/css/animsition.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'location_form/vendor/select2/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'location_form/vendor/daterangepicker/daterangepicker.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'location_form/css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'location_form/css/main.css' %}">

<link rel="stylesheet" href="{% static 'location_form/daterangepicker.min.css' %}">
<script src="{% static 'location_form/vendor/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'location_form/vendor/moment.min.js' %}" type="text/javascript"></script>

{% endblock %}

{% block content %}
<div class="container-contact100">
  <div class="wrap-contact100">
    <form id="original_form" action='' method='POST' class="contact100-form validate-form">
      <span class="contact100-form-title">
        Make Reservations
      </span>


      <div id="addItem"></div>


      <div class="container-contact100-form-btn" style="padding:50px">
      <a class="contact100-form-btn" onclick="addField()"><span style="color:white">
            Add another location
            <i class="zmdi zmdi-plus m-l-8"></i>
          </span></a>
      </div>

      <div class="container-contact100-form-btn">
        <button id='make_payment' class="contact100-form-btn">
          <span>
            Make Payment
            <i class="zmdi zmdi-arrow-right m-l-8"></i>
          </span>
        </button>
      </div>
    </form>
    <form style="display: none" id="custom_form" action="/booking/payment_result/" method="POST">
      <input id="custom_payment_input" name="payment_id" type="text" />
    </form>
  </div>
</div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'location_form/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'location_form/vendor/animsition/js/animsition.min.js' %}"></script>
	<script src="{% static 'location_form/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'location_form/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'location_form/vendor/select2/select2.min.js' %}"></script>
	<script src="{% static 'location_form/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'location_form/vendor/daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'location_form/vendor/countdowntime/countdowntime.js' %}"></script>
	<script src="{% static 'location_form/js/main.js' %}"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
  var disabledArr = ["04/12/2018", "04/13/2018", "04/14/2018", "04/30/2018", "04/31/2018", "05/01/2018", "05/02/2018"];

  var map = new Map();
  $('#make_payment').click(function(e) {
    e.preventDefault();
    submitForm(e);
  });

  function overlap_booking(id) {
    if (!map.has(id)) {
      map.set(id, false);
      return;
    }

    var daterangepicker = $(id).data('daterangepicker');
    var data = {
      'start_date': daterangepicker.startDate,
      'end_date': daterangepicker.endDate,
    };

    fetch('/booking/check_dates/',{
      body: JSON.stringify(data),
      method: 'POST',
      credentials: 'same-origin'
    }).then((response) => {
      response.json().then((data) => {
        var invalid = data['invalid'];
        var message = data['message'];
        map.set(id, invalid);
        $(`${id}-message`).html(message);
        var formInvalid = Array.from(map).reduce((accumulator = true, current_value) => accumulator & current_value[1]);
        $('#make_payment').prop('disabled', formInvalid[1]);
      });
    });
  }

  function submitForm(e) {
    e.preventDefault();

    var form = $("#original_form");
    var data = form.serializeArray();
    fetch('/booking/submit_application_location_form/', {
      body: JSON.stringify(data),
      method: 'POST',
      credentials: 'same-origin'
    }).then((response) => {
      var options = {
        "key": "rzp_test_uYI7kFmHMdcQPi",
        "amount": "50000", // 2000 paise = INR 20
        "name": "Delhi Tourism",
        "description": "Application processing fees by Delhi Tourism",
        "theme": {
          "color": "#F37254"
        },
        "handler": function (response){
          var id = response.razorpay_payment_id;
          var form = $('#custom_form');
          $('#custom_payment_input').value = id;
          form.submit();
        },
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
    });
}
  </script>

  <script>
  var newIDno = 0;
  function addField() {
  	var newID = "daterange" + newIDno;
  	var newIDWithHash = "#daterange" + newIDno;
    var addItem = `<div class="input50">
      <label class="label-input100" for="data-range0">
        Location *
      </label>
      <div class="wrap-input100 validate-input" style="display:inline-block;">
        <select class="input100" name="location" style="width: 100%;padding: 12px;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;resize: vertical;" maxlength="100" id="id_location">
          {% for location in locations %}
          <option value="{{ location.id }}">{{ location.name }}</option>
          {% endfor %}
        </select>
        <span class="focus-input100"></span>
      </div>
      </div>
      <div class="input50">
        <label class="label-input100" for="p">Date</label>
        <div class="wrap-input100" style="display:inline-block;"  width="49%">
        <input id='${newID}' onchange="overlap_booking('${newIDWithHash}')" class="daterange000 input100" name="daterangepicker"/>
        <span class="focus-input100"></span></div></div>
      </div>
      <span id="${newID}-message"></span>
      `;
  	$("#addItem").append(addItem);
  	$(newIDWithHash).daterangepicker({
      isInvalidDate: function(arg){
          console.log(arg);
          var thisMonth = arg._d.getMonth()+1;   // Months are 0 based
          if (thisMonth < 10){
              thisMonth = "0"+thisMonth; // Leading 0
          }

          var thisDate = arg._d.getDate();
          if (thisDate < 10){
            thisDate = "0"+thisDate; // Leading 0
          }
          var thisYear = arg._d.getYear()+1900;   // Years are 1900 based

          var thisCompare = thisMonth +"/"+ thisDate +"/"+ thisYear;

          if($.inArray(thisCompare,disabledArr)!=-1){
            return arg._pf = {userInvalidated: true};
          }
      }
    });
  	newIDno = newIDno + 1;
  }

  addField();
  </script>
<style type="text/css">
  .navbar-wrapper .container{width: 100% !important;max-width:10000px;}
  .navbar-nav > li{
    display: inline-block !important;
  }
  .navbar-nav{
    display: inline-block;
  }
  .container > .navbar-header{
    position: fixed;
  }
  .disabled {
    background: #FDA2CC !important;
  }
</style>
{% endblock %}
